<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template1}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome</h1>
                    <!--  <div sec:authorize="hasRole('USER')">Text visible to user.</div>
						<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
						<div sec:authorize="isAuthenticated()">Text visible only to
							authenticated users.</div>
						Authenticated username:
						<div sec:authentication="name"></div>
						Authenticated user roles:
						<div sec:authentication="principal.authorities"></div>-->
    
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>